<p id="notice"><%= notice %></p>

<h1>Projects</h1>
<%= vue_component 'project', projects: @projects.to_json,
                             total_items: @total_items,
                             pagination: @pagination.to_json %>

<div id="projects">
  <%= link_to 'New Project', new_project_path %>
</div>
